.cite-list::before {
  content: var(--cite-list-start);
}

.cite-list::after {
  content: var(--cite-list-end);
}

.citation, .citation-err {
  font-weight: bold;
}

.citation-err:hover {
  color: maroon;
}

.citation:hover {
  color: steelblue;
}

.cit, .cit-err {
  display: none;
  background-color: white;
  z-index: 1;
  position: absolute;
  transform: translate(28px, -23px);
  width: 300px;
  font-size: small;
  font-weight: 300;
  color: black;
  filter: drop-shadow(1px 1px 3px lightgray);
  border-radius: 6px 6px 6px 6px;
  border: .1px solid black;
}

.cit-err {
  font-weight: bold;
  text-align: center;
  padding: 4px;
  width: auto;
  transform: translate(16px, -3px);
}

.cit-err-arrow {
  position: absolute;
  left: -12px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 12px solid black; 
}

.cit-head {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 4px 8px 4px 8px;
  border-radius : 6px 6px 0 0;
  line-height: 1;
}

.cit-head-title {
  font-size: medium;
  font-weight: 400;
}

.cit-head-subtitle {
  padding-top: 4px;
}

.cit-head-arrow {
  position: absolute;
  left: -24px;
  top: 16px;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent; 
  border-right: 24px solid black; 
}

.cit-head-arrow p {
  position: absolute;
  transform: translate(50%,-50%);
  width: 16px;
  font-weight: 400;
  text-align: center;
  color: white;
}

.cit-body:not(:hover) {
  background-image: linear-gradient(transparent 85%,95%,steelblue 105%);
  background-repeat: no-repeat;
  background-size: 100%;
}

.cit-body {
  padding: 4px 8px 16px 8px;
  border-radius : 0 0 6px 6px;
  border-top: .1px solid black;
  line-height: 1.3;
}

.cit-body-auth {
  padding-bottom: 4px;
}

.cit-body-desc {
  min-height: 108px;
  padding-top: 4px;
  border-top: .1px solid black;
}