article {
  --section-prefix: "§";
  --equation-prefix: "Equation ";
  --figure-prefix: "Figure ";
  --table-prefix: "Table ";
  --cite-list-start: "[";
  --cite-list-end: "]";
  --double-quote-start: "“";
  --double-quote-end: "”";
  --single-quote-start: "‘";
  --single-quote-end: "’";
  --tiny-size: 0.5em;
  --script-size: 0.7em;
  --smaller-size: 0.8em;
  --small-size: 0.9em;
  --large-size: 1.2em;
  --larger-size: 1.4em;
  --huge-size: 1.8em;
}

article > p {
  line-height: 1.3em;
}

sub,
sup {
  line-height: 0;
}

q {
  quotes: var(--double-quote-start) var(--double-quote-end);
}

q.single {
  quotes: var(--single-quote-start) var(--single-quote-end);
}

header .author-org {
	font-style: italic;
}

header .author-org::before {
  content: " · "
}

h1[data-counter]::before,
h2[data-counter]::before,
h3[data-counter]::before {
  content: attr(data-counter) " ";
}

figure > figcaption {
  font-size: 0.9em;
}

figure.figure > figcaption[data-counter]::before {
  content: var(--figure-prefix) attr(data-counter) ". ";
}

figure.table > figcaption[data-counter]::before {
  content: var(--table-prefix) attr(data-counter) ". ";
}

table {
  border-collapse: collapse;
  margin: 0;
  margin-bottom: 2px;
}

thead tr {
  border-bottom: 1px solid #ccc;
}

thead th,
tbody td {
  font-size: var(--small-size);
  padding: 1px 0.33em;
  text-align: left;
  font-variant-numeric: tabular-nums;
}

tbody tr {
  border-bottom: 1px solid #eee;
}

.note {
  counter-increment: notes;
}

.note > sup::before {
  content: counter(notes);
}

.note-content::before {
  content: counter(notes) ". ";
}

.action {
  cursor: pointer;
  text-decoration: underline dashed 1px #444;
}
