/* Only handles layout, e.g. no color styles */

:root {
	--max-article-width: 100ex;
	--article-padding: 32px;
	--margin-width: 400px;
	--gap-width: 100px;

	--article-width: min(var(--max-article-width), calc(100vw - var(--article-padding) * 2 - var(--gap-width) - var(--margin-width)));
	--article-margin-left: max(0px, calc(((100vw - var(--article-width) - var(--gap-width) - var(--margin-width)) / 2)));
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

article {
	width: var(--article-width);
	margin-left: var(--article-margin-left);
	padding: var(--article-padding);
}

h1,
h2 {
	margin: 0;
	padding: 3px;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

h1 {
	padding-top: 0.5em;
}

.title {
	font-size: 24pt;
	font-weight: bold;
}

p,
pre,
ul,
ol,
table {
	margin: 0;
}

section>p {
	margin-bottom: 16px;
}

section>p:last-child {
	margin-bottom: 0;
}

.aside,
.margin {
	position: relative;
	float: right;
	clear: right;
	width: var(--margin-width);
	margin-right: calc(-1 * var(--gap-width) - var(--margin-width));
	margin-bottom: 1em;
	vertical-align: unset;
}

.inlinenote-number {
	line-height: 1;
}

.float-left {
	float: left;
	margin-right: 1em;
}

.float-right {
	float: right;
	margin-left: 1em;
}

.sticky {
	position: sticky;
	top: 0;
	z-index: 3;
}

.page {
	text-align: justify;
	width: calc(100vw - 2 * var(--article-padding) - 2 * var(--article-margin-left));
}

pre,
figure {
	max-width: calc(100vw - 2 * var(--article-padding) - 2 * var(--article-margin-left));
	overflow-x: auto;
}

.sticky {
	z-index: 10;
}

.full {
	max-width: 100vw;
}

.full-image {
	width: 100%;
	object-fit: cover;
	vertical-align: middle;
}

.full figcaption {
	background: #eee;
	padding: 16px 0;
}

.centered {
	text-align: center;
}

.justify {
	text-align: justify;
}

figure {
	margin: 0;
	padding: 5px 0;
}

figcaption {
	font-weight: 600;
}

figure img,
figure svg,
figure canvas {
	object-fit: contain;
	max-width: 100%;
	height: auto;
}

header {
	padding-bottom: 1em;
}

footer {
	padding: 2em 0;
}

@media (max-width: 1100px) {
	:root {
		--article-padding: 8px;
	}

	article {
		width: min(var(--max-article-width), calc(100% - var(--article-padding) * 2));
	}

	pre,
	figure {
		max-width: calc(100vw - var(--article-padding) * 2);
	}

	.page {
		width: min(var(--max-article-width), 100%);
	}

	.aside,
	.margin {
		float: none;
		margin: 0;
		width: auto;
	}

	.inlinenote-number {
		cursor: pointer;
	}

	.inlinenote:not(.open) .note,
	.inlinenote .note::before {
		display: none;
	}
}