.normal {
  font-weight: 400;
}

.demi {
  font-weight: 600;
}

.bold, .strong {
  font-weight: 700;
}

.mono, .code {
  font-family: monospace;
}

.em, .emph, .italic {
  font-style: italic;
}

.highlight {
  background-color: #ff0;
}

.strike {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.smallcaps {
  font-variant: small-caps;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.tiny {
  font-size: 0.5em;
}

.scriptsize {
  font-size: 0.7em;
}

.smaller, .footnotesize {
  font-size: 0.8em;
}

.small {
  font-size: 0.9em;
}

.large {
  font-size: 1.2em;
}

.larger {
  font-size: 1.4em;
}

.huge {
  font-size: 1.8em;
}

.hide {
  display: none;
}

.quote-single::before {
  content: "‘";
}

.quote-single::after {
  content: "’";
}

.quote-double::before {
  content: "“";
}

.quote-double::after {
  content: "”";
}

h1[data-counter]::before,
h2[data-counter]::before,
h3[data-counter]::before {
  content: attr(data-counter) " ";
}

figure > figcaption {
  font-size: 0.9em;
}

figure.figure > figcaption[data-counter]::before {
  content: "Figure " attr(data-counter) ". ";
}

figure.table > figcaption[data-counter]::before {
  content: "Table " attr(data-counter) ". ";
}

.cite-list::before {
  content: "[";
}

.cite-list::after {
  content: "]";
}

.cite-ref {
  text-decoration: underline dotted #aaa;
}

.citation, .citation-err {
  font-weight: bold;
}

.citation:not(:hover) *, .citation-err:not(:hover) * {
  display: none;
}

.citation-err:hover {
  color: maroon;
}

.citation:hover {
  color: steelblue;
}

.cit, .cit-err {
  position: absolute;
  transform: translate(-15px, 20px);
  width: 300px;
  background: whitesmoke;
  font-size: small;
  font-weight: 300;
  color: black;
  filter: drop-shadow(1px 1px 3px lightgray);
  border-radius: 10px 10px 10px 10px;
  border: .1px solid black;
}

.cit-err {
  font-weight: bold;
  text-align: center;
  width: 100px;
}

.cit-head {
  display: flex;
  flex-direction: column;
  background: rgb(230, 230, 230);
  padding: 5px 10px 5px 10px;
  border-radius : 10px 10px 0 0;
}

.cit-head-title {
  min-height: 24px;
  line-height: 1;
  font-size: medium;
}

.cit-head-info {
  padding-top: 5px;
  min-height: 18px;
  display: flex;
  justify-content: space-between;
}

.cit-body {
  padding: 5px 10px 5px 10px;
  border-radius : 0 0 10px 10px;
  border-top: .1px solid black;
  line-height: 1.3;
}

.cit-body-auth {
  min-height: 18px;
  padding-bottom: 5px;
}

.cit-body-abst {
  min-height: 108px;
  padding-top: 5px;
  border-top: .1px solid black;
}

.cross-ref.sec.full::before {
  content: "§";
}

.cross-ref.fig.full::before {
  content: "Figure ";
}

.cross-ref.tbl.full::before {
  content: "Table ";
}

.cross-ref.eqn.full::before {
  content: "Equation ";
}

header .author-org {
	font-style: italic;
}

header .author-org::before {
  content: " · "
}

.note {
  counter-increment: notes;
}

.note > sup::before {
  content: counter(notes);
}

.note-content::before {
  content: counter(notes) ". ";
}

.note-content {
  float: right;
  width: 250px;
  clear: right;
  margin: 0.5ex -300px 1em 0;
  text-align: left;
  font-size: 0.8em;
  line-height: 1.2em;
}

.error-block {
  display: block;
  border: solid 1px red;
  padding: 1em;
  max-width: 800px;
  font-size: 0.9em;
}

.range-text {
  text-decoration: underline dashed #888;
  cursor: ew-resize;
}

.katex { font-size: 1em !important; }

article > p {
  line-height: 1.3em;
}
