.cite-list::before {
  content: var(--cite-list-start);
}

.cite-list::after {
  content: var(--cite-list-end);
}

.cite-ref {
  color: var(--ref-color);
  font-weight: var(--ref-weight);
  text-decoration: var(--ref-decoration);
  cursor: pointer;
}

.cite-ref:hover {
  color: var(--ref-color-hover);
}

.cite-ref.unresolved,
.cite-ref.unresolved:hover {
  color: var(--ref-color-error);
}

.cite-ref .tooltip {
  width: 400px;
  font-weight: normal;
  color: black;
}

.cite-ref.unresolved .tooltip {
  text-align: center;
  padding: 4px;
  width: auto;
}

.cite-author, .cite-venue {
  color: #666;
  margin-top: 0.25em;
}

.cite-title a {
  font-weight: bold;
}

.cite-venue {
  font-style: italic;
}

.cite-detail {
  border-top: 1px solid #ccc;
  padding-top: 0.5em;
  margin-top: 0.5em;
}