.cross-ref {
  color: var(--ref-color);
  font-weight: var(--ref-weight);
  text-decoration: var(--ref-decoration);
  cursor: pointer;
}

.cross-ref:hover {
  color: var(--ref-color-hover);
}

.cross-ref.unresolved,
.cross-ref.unresolved:hover {
  color: var(--ref-color-error);
}

.cross-ref.sec.full::before {
  content: var(--section-prefix);
}

.cross-ref.fig.full::before {
  content: var(--figure-prefix);
}

.cross-ref.tbl.full::before {
  content: var(--table-prefix);
}

.cross-ref.eqn.full::before {
  content: var(--equation-prefix);
}

.fig-tooltip {
  display: none;
	background-color: white;
	z-index: 1;
	position: absolute;
	filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.2));
	border: 1px solid #ccc;
	cursor: auto;
  min-width: 100px;
  min-height: 100px;
  width: 400px;
  border-radius: 4px;
  overflow: hidden;
  resize: both;
  transform: translate(-1.5em, 1.4em);
}

.fig-body {
  padding: 0.5em;
}

.fig-controls a {
  color: black;
  padding: 0.15em;
}

.fig-controls a:hover {
  background-color: #ddd;
  cursor: pointer;
}

.fig-controls {
  display: flex;
  justify-content: right;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

.fig-minimize::before {
  content: '\2013';
}

.fig-close::before {
  content: '\2716';
}