article {
	--inline-math-size: 1.14em;
}

body {
	font: 16px/1.5 -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background: #fff;
	color: #000;
}

pre,
:not(pre) > code {
	font-family: monospace;
	font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	line-height: 1.25em;
	margin: 24px 0 16px;
}

h1,
h2 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 6px;
	width: fit-content;
}

article p,
article > ul,
article > ol,
article > table,
.katex-display {
	margin: 12px 0;
}

td,
th {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	transition: 0.1s ease-out;
}

th,
tr:hover td {
	background: rgba(0, 0, 0, 0.1);
}

figure > figcaption {
	font-weight: 600;
	font-size: var(--small-size);
	line-height: 1.4em;
	padding-bottom: 1ex;
}

.sticky {
	background: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(4px);
}

aside,
.note {
	font-style: inherit;
	font-size: var(--small-size);
}

.note {
	background: #fff;
	transition: 0.1s ease-out;
}

.inline-note:hover .inline-note-number,
.inline-note:hover .note {
	background: var(--ref-color-light);
}

.inline-note-number {
	padding: 1px;
}

.inline-note .note::before {
	font-size: var(--smaller-size);
}
