<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <meta charset="utf-8" />
    <title>Living Paper</title>
    <meta property="og:title" content="Living Paper" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Living Papers Article" />
    <meta property="description" content="Living Papers Article" />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <article><h1 id="figure" data-counter="1">Figure</h1><figure id="dune" class="figure page" data-counter="1"><p><img width="100%" height="100px" alt="Panorama of a sand dune in Belgium" src="https://upload.wikimedia.org/wikipedia/commons/d/df/Panorama_depanne.jpg"></img></p><figcaption data-counter="1">Coastal dunes in
<a href="https://en.wikipedia.org/wiki/De_Panne">De Panne</a>, Belgium</figcaption></figure><figure id="wave" class="figure" data-counter="2"><p><img height="100px" alt="Animation of a sound pressure wave" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Half-open_pipe_wave.gif/440px-Half-open_pipe_wave.gif"></img></p><figcaption data-counter="2">Sound pressure standing wave in a half-open pipe
playing the 7th harmonic of the fundamental (n = 4)</figcaption></figure><h1 id="equation" data-counter="2">Equation</h1><tex-equation id="eq" data-counter="1">\beta_2 x^2 + \beta_1 x + \beta_0</tex-equation><h1 id="code" data-counter="3">Code</h1><code-block class="js" language="js">const x = { a: 1, b: [3, 4, 5] }</code-block><code-block class="sql" language="sql">SELECT * FROM table
  WHERE x &gt; 5</code-block><code-block>Code of unknown language ~ 42</code-block><p>Inline, Python: <code-block class="python" language="python" inline="true">(7 * 5) + 2</code-block>.</p><p>Inline, nameless: <code-block inline="true">code % 5</code-block>.</p><h1 id="inputs" data-counter="4">Inputs</h1><p>Range Text:
<range-text min="-1000" max="1000" step="1" value="100"></range-text></p></article>
    <script type="module" src="./bundle.js"></script>
  </body>
</html>