@mixin loadserif($suffix) {
	font-family: "Linux Libertine O";
	src: url("./assets/LinLibertine_#{$suffix}.otf");
}

@mixin loadsans($suffix) {
	font-family: "Linux Biolinum O";
	src: url("./assets/LinBiolinum_#{$suffix}.otf");
}

@font-face {
	@include loadserif("R");
}

@font-face {
	@include loadserif("RB");
	font-weight: bold;
}

@font-face {
	@include loadserif("RI");
	font-style: italic;
}

@font-face {
	@include loadsans("R");
}

@font-face {
	@include loadsans("RB");
	font-weight: bold;
}

@font-face {
	@include loadsans("RI");
	font-style: italic;
}

$serif: "Linux Libertine O", serif;
$sans-serif: "Linux Biolinum O", sans-serif;
$monospace: "Inconsolata", monospace;

body {
	font: 18px/1.5rem $serif;
	background: $bg;
	color: $fg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $sans-serif;
}

h1,
h2 {
	padding: 1.5em 0 0.5em;
}

h3,
h4 {
	padding: 0.5em 0 0.25em;
}

h1 {
	text-transform: uppercase;
}

article p {
	margin: 1ex 0;
	text-indent: 3ex;
	text-align: justify;
}

pre,
code {
	font-family: $monospace;
}

pre,
ul,
table,
figure {
	margin: 2ex 0;
}

li {
	margin: 1ex 0 1ex 4ex;
}

h1,
h2,
h3,
h4 {
	line-height: 1.25;

	&+p {
		text-indent: unset;
	}
}

table {
	$border: 2px solid $fg;
	border-top: $border;
	border-bottom: $border;
	width: 100%;

	th {
		border-bottom: $border;
	}
}

figcaption {
	font-family: $sans-serif;
}

header h1 {
	padding: 1em 0;
	text-transform: unset;
}

a {
	text-decoration: inherit;
}

.author-name {
	font-family: $sans-serif;
	text-transform: uppercase;
}

.sticky {
	background: $bg;
	padding: 0 2ex;
	border: 1px solid transparentize($fg, 0.8);

	&:not(.margin) {
		margin: 0 -2ex;
	}
}

.inlinenote:hover {

	.inlinenote-number,
	.note {
		background: #ff9;
	}
}

.note p,
.inlinenote {
	text-indent: 0;
}

.note {
	padding: 1ex;
}